.active{
    color: white;
}
#navlink{
    color: #ffc107;
}
#anim-color{
    cursor: pointer;
}
#select{
    background: none;
    outline: none;
    border: none;
}
#select > option{
    background-color: #333;
    border: none;
    outline: none;
}
#bar-select{
    background: none;
    outline: none;
    border: none;
    margin-top: 20px;
}
#bar-select > option{
    background-color: #333;
    border: none;
    outline: none;
}
#bar-body{
    padding: 0;
    display: block;
    text-align: center;
}
#bar-ul > li{
    margin-top: 20px;
}
#anim-color:hover{
    background-image: 
    linear-gradient(to right, green, red, orange); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;  
    animation: anim-color 100s linear infinite;
}
@keyframes anim-color {
    to {
        background-position: 4500vh;
    }
}
#offcanvasRight{
    background-color: #333;
    display: none;
}
#menu-bar{
    display: none;
}
@media screen and (max-width: 992px) {
    #menu-bar{
        display: block;
    }
    #menu-none{
        display: none;
    }
    #select{
        display: none;
    }
    #offcanvasRight{
        width: 40%;
        display: block;
    }
}
@media screen and (max-width: 576px) {
    #offcanvasRight{
        width: 100%;
        display: block;
    }
}
