#ser-div > h3{
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
#ser-div > hr{
  width: 100px;
  border: 2px solid crimson;
  filter: brightness(1.75);
}
#servi{
  color: #fff;
}