#skdiv > h3{
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#skdiv > hr{
    width: 67px;
    border: 2px solid crimson;
    filter: brightness(1.75);
}

.progress {
  background: rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
}

.progress-bar {	
    height: 18px;
    background-color: #ee303c;  
    border-radius: 4px; 
    transition: 0.4s linear;  
    transition-property: width, background-color;    
}

.progress-striped .progress-bar { 	
  background-color: #FCBC51; 
  width: 100%; 
  background-image: linear-gradient(
        45deg, rgb(252,163,17) 25%, 
        transparent 25%, transparent 50%, 
        rgb(252,163,17) 50%, rgb(252,163,17) 75%,
        transparent 75%, transparent); 
  animation: progressAnimationStrike 6s;
}
.progress-striped1 .progress-bar1 { 	
    background-color: #FCBC51; 
    width: 90%; 
    background-image: linear-gradient(
          45deg, rgb(252,163,17) 25%, 
          transparent 25%, transparent 50%, 
          rgb(252,163,17) 50%, rgb(252,163,17) 75%,
          transparent 75%, transparent); 
    animation: progressAnimationStrike1 6s;
}
.progress-striped2 .progress-bar2 { 	
    background-color: #FCBC51; 
    width: 70%; 
    background-image: linear-gradient(
          45deg, rgb(252,163,17) 25%, 
          transparent 25%, transparent 50%, 
          rgb(252,163,17) 50%, rgb(252,163,17) 75%,
          transparent 75%, transparent); 
    animation: progressAnimationStrike2 6s;
}
.progress-striped3 .progress-bar3 { 	
    background-color: #FCBC51; 
    width: 100%; 
    background-image: linear-gradient(
          45deg, rgb(252,163,17) 25%, 
          transparent 25%, transparent 50%, 
          rgb(252,163,17) 50%, rgb(252,163,17) 75%,
          transparent 75%, transparent); 
    animation: progressAnimationStrike3 6s;
}
.progress-striped4 .progress-bar4 { 	
    background-color: #FCBC51; 
    width: 80%; 
    background-image: linear-gradient(
          45deg, rgb(252,163,17) 25%, 
          transparent 25%, transparent 50%, 
          rgb(252,163,17) 50%, rgb(252,163,17) 75%,
          transparent 75%, transparent); 
    animation: progressAnimationStrike4 6s;
}
.progress-striped5 .progress-bar5 { 	
    background-color: #FCBC51; 
    width: 70%; 
    background-image: linear-gradient(
          45deg, rgb(252,163,17) 25%, 
          transparent 25%, transparent 50%, 
          rgb(252,163,17) 50%, rgb(252,163,17) 75%,
          transparent 75%, transparent); 
    animation: progressAnimationStrike5 6s;
}
.progress-striped6 .progress-bar6 { 	
    background-color: #FCBC51; 
    width: 80%; 
    background-image: linear-gradient(
          45deg, rgb(252,163,17) 25%, 
          transparent 25%, transparent 50%, 
          rgb(252,163,17) 50%, rgb(252,163,17) 75%,
          transparent 75%, transparent); 
    animation: progressAnimationStrike6 6s;
}
.progress-striped7 .progress-bar7 { 	
    background-color: #FCBC51; 
    width: 90%; 
    background-image: linear-gradient(
          45deg, rgb(252,163,17) 25%, 
          transparent 25%, transparent 50%, 
          rgb(252,163,17) 50%, rgb(252,163,17) 75%,
          transparent 75%, transparent); 
    animation: progressAnimationStrike7 6s;
}
.progress-striped8 .progress-bar8 { 	
    background-color: #FCBC51; 
    width: 90%; 
    background-image: linear-gradient(
          45deg, rgb(252,163,17) 25%, 
          transparent 25%, transparent 50%, 
          rgb(252,163,17) 50%, rgb(252,163,17) 75%,
          transparent 75%, transparent); 
    animation: progressAnimationStrike8 6s;
}
.progress-striped9 .progress-bar9 { 	
    background-color: #FCBC51; 
    width: 95%; 
    background-image: linear-gradient(
          45deg, rgb(252,163,17) 25%, 
          transparent 25%, transparent 50%, 
          rgb(252,163,17) 50%, rgb(252,163,17) 75%,
          transparent 75%, transparent); 
    animation: progressAnimationStrike9 6s;
}
.progress-striped10 .progress-bar10 { 	
    background-color: #FCBC51; 
    width: 100%; 
    background-image: linear-gradient(
          45deg, rgb(252,163,17) 25%, 
          transparent 25%, transparent 50%, 
          rgb(252,163,17) 50%, rgb(252,163,17) 75%,
          transparent 75%, transparent); 
    animation: progressAnimationStrike10 6s;
}
.progress-striped11 .progress-bar11 { 	
    background-color: #FCBC51; 
    width: 70%; 
    background-image: linear-gradient(
          45deg, rgb(252,163,17) 25%, 
          transparent 25%, transparent 50%, 
          rgb(252,163,17) 50%, rgb(252,163,17) 75%,
          transparent 75%, transparent); 
    animation: progressAnimationStrike11 6s;
}
.progress-striped12 .progress-bar12 { 	
    background-color: #FCBC51; 
    width: 90%; 
    background-image: linear-gradient(
          45deg, rgb(252,163,17) 25%, 
          transparent 25%, transparent 50%, 
          rgb(252,163,17) 50%, rgb(252,163,17) 75%,
          transparent 75%, transparent); 
    animation: progressAnimationStrike12 6s;
}
.progress-striped13 .progress-bar13 { 	
    background-color: #FCBC51; 
    width: 50%; 
    background-image: linear-gradient(
          45deg, rgb(252,163,17) 25%, 
          transparent 25%, transparent 50%, 
          rgb(252,163,17) 50%, rgb(252,163,17) 75%,
          transparent 75%, transparent); 
    animation: progressAnimationStrike13 6s;
}

@keyframes progressAnimationStrike {
     from { width: 0 }
     to   { width: 100% }
}
@keyframes progressAnimationStrike1 {
    from { width: 0 }
    to   { width: 90% }
}
@keyframes progressAnimationStrike2 {
    from { width: 0 }
    to   { width: 70% }
}
@keyframes progressAnimationStrike3 {
    from { width: 0 }
    to   { width: 100% }
}
@keyframes progressAnimationStrike4 {
    from { width: 0 }
    to   { width: 80% }
}
@keyframes progressAnimationStrike5 {
    from { width: 0 }
    to   { width: 70% }
}
@keyframes progressAnimationStrike6 {
    from { width: 0 }
    to   { width: 80% }
}
@keyframes progressAnimationStrike7 {
    from { width: 0 }
    to   { width: 90% }
}
@keyframes progressAnimationStrike8 {
    from { width: 0 }
    to   { width: 90% }
}
@keyframes progressAnimationStrike9 {
    from { width: 0 }
    to   { width: 95% }
}
@keyframes progressAnimationStrike10 {
    from { width: 0 }
    to   { width: 100% }
}
@keyframes progressAnimationStrike11 {
    from { width: 0 }
    to   { width: 70% }
}
@keyframes progressAnimationStrike12 {
    from { width: 0 }
    to   { width: 90% }
}
@keyframes progressAnimationStrike13 {
    from { width: 0 }
    to   { width: 50% }
}
